<!-- your html code here -->
<div class="container" style="margin-top: 50px">
    <h4>Contact</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, temporibus laudantium quo ad ipsa non autem
        voluptatum nemo dolorem iusto atque aperiam doloremque facere quasi distinctio in voluptas molestiae! Harum.
    </p>
    <div class="container text-center">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
                <label for="exampleFormControlInput1" class="form-label text-start">Your E-mail</label>
            </div>
            <div class="col-6 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
                <input type="email" 
                class="form-control" 
                placeholder="Your email here"
                id="exampleFormControlInput1">
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-2 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
            </div>
            <div class="col-6 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
                <textarea class="form-control" id="exampleFormControlTextarea1" 
                placeholder="Your message here" rows="2"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-7 bg-info" style="padding-top: 15px; padding-bottom: 15px;"></div>
            <div class="col-1 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>

        <br />

    </div>
</div>