<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6">
            <h4 class="text-center">The first heading <b style="color: grey">will catch your eyes</b></h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nobis qui molestiae sapiente corrupti optio voluptatibus voluptate doloremque quibusdam doloribus tempore eius a voluptates, ullam ipsa consequatur nesciunt quasi? Fuga.
            </p>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <img src="./assets/img/1.jpg" style="width: 150px" class="rounded-circle">
        </div>
    </div>
</div>