<!-- your html code here -->
<div class="container" style="margin-top: 50px">
    <h4>Portfolio</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, temporibus laudantium quo ad ipsa non autem
        voluptatum nemo dolorem iusto atque aperiam doloremque facere quasi distinctio in voluptas molestiae! Harum.
    </p>
    
    <div class="card-group">
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: blueviolet">Project name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Exercitationem eaque, dolore iste debitis magnam nisi eius ut. 
            </p>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: blueviolet">Project name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Exercitationem eaque, dolore iste debitis magnam nisi eius ut. 
            </p>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: blueviolet">Project name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Exercitationem eaque, dolore iste debitis magnam nisi eius ut. 
            </p>
          </div>
        </div>
      </div>
</div>