<!-- your html code here -->
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <img src="./assets/img/2.jpg" style="width: 150px" class="rounded-circle">
        </div>
        <!-- <div class="col-1"></div> -->
        <div class="col-6">
            <h4 class="text-center">The second heading <b style="color: grey">is Pretty Cool Too</b></h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nobis qui molestiae sapiente corrupti optio voluptatibus voluptate doloremque quibusdam doloribus tempore eius a voluptates, ullam ipsa consequatur nesciunt quasi? Fuga.
            </p>
        </div>
        
        
    </div>
</div>